.CounterWrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
    border: 2px solid #61dafb;
    border-radius: 20px;
    padding: 25px
  }
  
  .DisplayWrapper{
    width: 490px;
    height: 220px;
    border: 2px solid #61dafb;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #61dafb;
    font-weight: bold;
    font-size: 130px;
    text-align: center;
  }
  
  .DisplayWrapperMax{
    width: 490px;
    height: 220px;
    border: 2px solid #61dafb;
    border-radius: 20px;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
    font-size: 145px;
    text-align: center;
  }

  .BtnWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 490px;
    height: 110px;
    border: 2px solid #61dafb;
    border-radius: 20px;
  }
  
  .BtnIncrement button{
    cursor: pointer;
    background-color: #61dafb;
    border-radius: 20px;
    color:  #282c34;
    outline: none;
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .BtnIncrementMax button{
    background-color: rgb(96, 133, 136);
    border-radius: 20px;
    color:  #282c34;
    outline: none;
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .BtnReset button{
    cursor: pointer;
    background-color: #61dafb;
    border-radius: 20px;
    color:  #282c34;
    outline: none;
    font-size: 50px;
    font-weight: bold;
  }
  
  .BtnResetStart button{
    background-color: rgb(96, 133, 136);
    border-radius: 20px;
    color:  #282c34;
    outline: none;
    font-size: 50px;
    font-weight: bold;
  }